<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Income</h2>
            <ul *ngFor="let value of values" class="list-group">
                <li *ngIf="value.positive()" class="list-group-item list-group-item-success">
                    +{{ value.amount }}: {{ value.description }}
                    <i (click)="deleteValue(value)" class="fa-solid fa-circle-xmark"></i>
                </li>
            </ul>
        </div>
        
        <div class="col-md-6 text-center">
            <h2>Expenses</h2>
            <ul *ngFor="let value of values" class="list-group">
                <li #currentValue *ngIf="!value.positive()" class="list-group-item list-group-item-danger">
                    {{ value.amount }}: {{ value.description }}
                    <i (click)="deleteValue(value)" class="fa-solid fa-circle-xmark"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
